DB_HOST=db.mourpttkynkovxvzkmru.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=KjWy*!L$!K/nM5.
DB_NAME=postgres

JWT_SECRET=fgsigyfgidgf982!"#$vlshhls/018/0134kjlfcmbesd9jskhj
JWT_EXPIRES_IN=15m
PORT=3001
FRONTEND_URL=http://localhost:5173
